<div class="m-2">
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Promotion</th>
        <th scope="col">Prenom</th>
        <th scope="col">Nom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Telephone</th>
        <th scope="col">Classe</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor="let e of etudiants ; let i = index ; let isEven = even" [ngStyle]="getEvenStyle(i+1)" (click)="SelectE(e) " [style.text-decoration]="selectedEtudiant==e ? 'underline' : 'none' "  >
        <th [ngStyle]="getEvenStyle(i+1)" (click)="SelectE(e) " [style.text-decoration]="selectedEtudiant==e ? 'underline' : 'none' " >{{i+1}}</th>
        <td [ngStyle]="getEvenStyle(i+1)" (click)="SelectE(e) " [style.text-decoration]="selectedEtudiant==e ? 'underline' : 'none' " >{{e.code}}</td>
        <td [ngStyle]="getEvenStyle(i+1)" (click)="SelectE(e) " [style.text-decoration]="selectedEtudiant==e ? 'underline' : 'none' " >{{e.prenom}}</td>
        <td [ngStyle]="getEvenStyle(i+1)" (click)="SelectE(e) " [style.text-decoration]="selectedEtudiant==e ? 'underline' : 'none' " >{{e.nom}}</td>
        <td [ngStyle]="getEvenStyle(i+1)" (click)="SelectE(e) " [style.text-decoration]="selectedEtudiant==e ? 'underline' : 'none' " >{{e.adresse}}</td>
        <td [ngStyle]="getEvenStyle(i+1)" (click)="SelectE(e) " [style.text-decoration]="selectedEtudiant==e ? 'underline' : 'none' " >{{e.telefone}}</td>
        <td [ngStyle]="getEvenStyle(i+1)" (click)="SelectE(e) " [style.text-decoration]="selectedEtudiant==e ? 'underline' : 'none' " >{{e.classe.nom}}</td>
        <td [ngStyle]="getEvenStyle(i+1)" (click)="SelectE(e) " [style.text-decoration]="selectedEtudiant==e ? 'underline' : 'none' "  *ngIf="selectedEtudiant==e">

            <button type="button" class="btn btn-link mx-2 "  >Details </button>
            <button type="button" class="btn btn-primary mx-2" >Modifier </button>
            <button type="button" class="btn btn-outline-danger mx-2" >Supprimer </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
