@import "ipslVar";
@import "../node_modules/bootstrap/scss/bootstrap";

.active{
    color: red;
    background-color: black;
}



.ipslVal{
  font-size: 12px;
  font-weight: bold;


}

.ipslLabel{
  @extend .ipslVal;
  @extend .text-primary;
  text-decoration: underline;
}
